NEXT_PUBLIC_LIVE_URL=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im11cmZlb3RyaWdwaGFic2tseGp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI0NTU3MDYsImV4cCI6MjA3ODAzMTcwNn0.MeDowz-4dAvfT2IQjgXDJ8EAu-X3gGHovOqkN0Gnc9I
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PROJECT_ID=
SUPABASE_ACCESS_TOKEN=
SUPABASE_DB_PASSWORD=
DEEPGRAM_API_KEY=
NEXT_PUBLIC_DEEPGRAM_API_KEY=
DEEPGRAM_PROJECT_ID=

DREAMIT_URL=
DREAMIT_FOLOUP_SECRET=
DREAMIT_SUPABASE_SERVICE_ROLE_KEY=

DENO_ENV=
